<%- include('partials/layout_top') %>

    <%- include('partials/subnav') %>

    <div style="background:#f0eff9;min-height:calc(100vh - 48px)">
        <main id="main-content" class="max-w-7xl mx-auto py-4 sm:py-6 px-4 lg:px-8">
            <%- body %>
        </main>
    </div>

<%- include('partials/layout_bottom') %>
